# API
fastapi==0.110.0
uvicorn[standard]==0.27.1

# Database
sqlalchemy==2.0.27
pg8000==1.31.2
alembic==1.13.1

# Validation
pydantic==2.7.1
pydantic-settings==2.2.1

# Environment
python-dotenv==1.0.1

# Data pipeline (for later)
pandas==2.2.1
numpy==1.26.4
fastf1==3.3.9